<div class="back" style="margin-top: 10px;">
    <button id="backbutton2" [routerLink]="['/']"> <span style="font-weight: 1000;">&larr; </span> Back to List </button>
 
    
</div>

<div class="oneitem">
    <!--<input type="checkbox" id="onecheckbox2" name = "onecheckbox2-0" [(ngModel)]="isdone">   -->   
    <!--<label for="onecheckbox2"></label>-->
    <div class="inputbox">
        <span type="text"> Description: {{content}}  </span>
        <!--<input type="text" placeholder="Write something..." [(ngModel)]="content"  name="recordContent" id="inputText2">-->
    </div>
</div>

<div class="oneitem">
    <div class="inputbox">
        <span type="text">Type: {{typeis}}  </span>
        
    </div>
</div>

<div class="oneitem">
    <div class="inputbox">
        <span type="text">Amount: {{amountis}}  </span>
    </div>
</div>

<div class="oneitem2">
    <div class="inputbox">
        <p>Data: {{datais}}</p>
    </div>
</div>

<div class="dansbutton" style="margin-top: 170px;">
    <button id="dansbutton2" class="deletebutton" (click)="deletebutton()"> Delete </button> 
    <!--<button id="dansbutton3" class="savebutton" (click)="saveToUpsert()"> Save</button>-->
    
</div>