<div class="back" style="margin-top: 10px;">
    <button id="backbutton2" [routerLink]="['/']"> <span style="font-weight: 1000;">&larr; </span> Back to List </button>
 
    
</div>

<div class="oneitem">  
    <div class="inputbox">
        <span class="texttitle"> Description:  </span>
        <input type="text" id="Input11" [(ngModel)]="content" name="box11">
    </div>
</div>

<div class="oneitem">
    <div class="inputbox">
        <span class="texttitle"> Type:  </span> 
        <input type="text" id="Input12" [(ngModel)]="typeis" name="box12">
    </div>
</div>

<div class="oneitem">
    <div class="inputbox">
        <span class="texttitle"> Amount:  </span>
        <input type="text" id="Input13" [(ngModel)]="amountis" name="box13">
    </div>
</div>

<div class="oneitem2">
    <div class="inputbox">
        <p>Data: {{datais}}</p>
    </div>
</div>

<div class="dansbutton" style="margin-top: 150px;">
    <button id="dansbutton2" class="deletebutton" (click)="deletebutton()"> Delete </button> 
    <button id="dansbutton3" class="savebutton" (click)="saveToUpsert()"> Save</button>
    
</div>