#backbutton2{

    width:150px;
    height: 42px;
    font-size: 15px;
    border-radius: 40px;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
}

#backbutton2:hover{
    color: gainsboro;

}

/*--------*/
.oneitem{
    margin-top: 48px;
    display:flex;
    align-items: center;
    margin-left: 9px;
    width:430px;
    border-bottom:1.5px solid gainsboro;
}

.oneitem2{
    margin-top: 48px;
    display:flex;
    align-items: center;
    margin-left: 9px;
    width:430px;
    border: none;
    size: 50px;
    color: #71a4f1;
}


input[type="checkbox"]{
    width: 40px;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 10px;
}

input[type="text"]{
    border:none;
    outline: none;
    width:330px;
    height: 100%;
    font-size: 30px;
    margin-bottom: 10px;
}


.inputbox{
    font-size: 22px;
}


/*---------*/
.deletebutton{
    width:100px;
    height: 42px;
    font-size: 11px;
    border-radius: 40px;
    background: #f171c8;
    border: none;
    font-size: 19px;
    color: white;
}
.deletebutton:hover{
    background: gainsboro;
    box-shadow: rgb(172, 202, 221) 0px 0px 4px ;
    
}


.savebutton{
    width:100px;
    height: 42px;
    font-size: 11px;
    border-radius: 40px;
    background: #70bbdd;
    border: none;
    font-size: 19px;
    color: white;
}
.savebutton:hover{
    background: gainsboro;
    box-shadow: rgb(172, 202, 221) 0px 0px 4px ;
    
}

.dansbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:400px;
    margin: 0 auto;
}