<div class="back" style="margin-top: 10px;">
    <button id="backbutton1" [routerLink]="['/']" > <span style="font-weight: 1000;">&larr; </span> Back to List </button>
     <!--(click)="gotohomepage()"-->
    
</div>

<div class="oneitem">
    <!--<input type="checkbox" id="onecheckbox1" [(ngModel)]="isdone" name="onecheckbox1-0">  -->
    <div class="inputbox">
        <input type="text" placeholder="write description..." [(ngModel)]="content"  id="inputText1" name="recordContext" autocomplete="off">      
    </div>
</div>

<div class="oneitem">
    <div class="inputbox">
        <input type="text" placeholder="write type..." [(ngModel)]="type"  id="inputText2" name="recordContext2" autocomplete="off">
    </div>
</div>

<div class="oneitem">
    <div class="inputbox">
        <input type="text" placeholder="write amount..." [(ngModel)]="amount_str"  id="inputText3" name="recordContext3" autocomplete="off">
    </div>
</div>

<div class="oneitem2">
    <div class="inputbox">
        <p>{{timenow}}</p>
    </div>
</div>


<div class="dansbutton" style="margin-top: 170px;">
    <button id="savebutton1" class="savebutton" (click)="savebutton()" >Save</button>
    
</div>